<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animations/anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,204},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,366},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,392},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,406},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,412},{52,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,320},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,308},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,224},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,144},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,410},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,284},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,368},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,282},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,340},{52,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,204},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,368},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,150},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,330},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{78,78}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,430},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,284},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,150},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,250},{52,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,64},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,236},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,68},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>animations/anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,64},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,130},{122,118}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>gui/button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,10},{122,118}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>gui/button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,446},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,380},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,314},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{384,117}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{384,117}}</string>
                <key>sourceSize</key>
                <string>{400,143}</string>
            </dict>
            <key>gui/button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{384,117}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{384,117}}</string>
                <key>sourceSize</key>
                <string>{400,143}</string>
            </dict>
            <key>gui/button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,136},{144,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{144,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>gui/button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,68},{144,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{144,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>gui/button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,248},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>gui/button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,136},{154,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{154,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>gui/button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,68},{154,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{154,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>gui/marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,6}}</string>
                <key>sourceSize</key>
                <string>{510,6}</string>
            </dict>
            <key>gui/pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,452},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gui/pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,320},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gui/pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,452},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gui/pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,366},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gui/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{136,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{136,60}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>gui/slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,366},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>gui/stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,308},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,290},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,204},{76,76}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,232},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,384},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{68,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,204},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{1030,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20439d45493fbeda677de182fd16ec3a:d1c646b1ffe032140ce6674224889baa:65190eda994a633aa977088176b54359$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
