<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{585,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,585}}</string>
                <key>sourceSize</key>
                <string>{585,585}</string>
            </dict>
            <key>test_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,627}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{630,627}}</string>
                <key>sourceSize</key>
                <string>{768,667}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>board.pvr.ccz</string>
            <key>size</key>
            <string>{1221,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d94e3e008a1cdee3f5b27e8ba14fb23:03ce5463726e11b6071d37e3fc6303b4:11b2b1ff36a05e22bc1e13059bbc2d26$</string>
            <key>textureFileName</key>
            <string>board.pvr.ccz</string>
        </dict>
    </dict>
</plist>
