<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.pvr</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1540,2052}</string>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1536,2048}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.pvr.ccz</string>
            <key>size</key>
            <string>{1540,2052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25324e877bfabcf2c959bdc33b32dfc6:70e27cbb54478752c920274767b45d88:73db7f4fd44008a4e86a9f32d5f6782c$</string>
            <key>textureFileName</key>
            <string>background.pvr.ccz</string>
        </dict>
    </dict>
</plist>
