<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animations/anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,109},{37,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{37,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,74},{39,31}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,184},{39,25}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,175},{39,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{39,19}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,107},{43,15}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{43,15}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,176},{39,17}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{39,17}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,132},{39,23}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{39,23}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,144},{39,29}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{39,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,197},{37,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{37,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,119},{37,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{37,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,41},{39,31}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,157},{39,25}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,226},{39,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{39,19}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,232},{43,15}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{43,15}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,231},{39,17}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{39,17}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,151},{39,23}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{39,23}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,195},{39,29}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{39,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,197},{37,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{37,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,74},{37,33}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{37,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,41},{39,31}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,124},{39,25}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,175},{39,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{39,19}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,232},{43,15}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{43,15}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,154},{39,19}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{39,19}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,105},{39,25}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,74},{39,29}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{39,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,71},{37,33}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{37,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,69},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,7},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,41},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,209},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,211},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{178,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{178,61}}</string>
                <key>sourceSize</key>
                <string>{188,67}</string>
            </dict>
            <key>gui/button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{178,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{178,61}}</string>
                <key>sourceSize</key>
                <string>{188,67}</string>
            </dict>
            <key>gui/button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{69,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,131},{69,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,133},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>gui/button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,80},{73,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{73,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{73,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{73,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/font_gradient_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,124},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>gui/font_gradient_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,157},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/font_gradient_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,184},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>gui/marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,3}}</string>
                <key>sourceSize</key>
                <string>{239,3}</string>
            </dict>
            <key>gui/pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,106},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,196},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,196},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,196},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,41},{65,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{65,28}}</string>
                <key>sourceSize</key>
                <string>{83,30}</string>
            </dict>
            <key>gui/slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,41},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>gui/stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,80},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,158},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,119},{37,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,119},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,196},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,158},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{510,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bcc464f91997e9cfa256608be49b918:b08e697861e3aaa3eb028c425bdf8075:65190eda994a633aa977088176b54359$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
