<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animations/anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,520},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,400},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,774},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,654},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,824},{102,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{102,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,784},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,618},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,400},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,799},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,643},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,294},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,608},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,484},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2},{102,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{102,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,314},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,698},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,686},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,487},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,158},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,828},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,698},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,657},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,827},{102,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{102,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,487},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,520},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,132},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,251},{240,234}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{240,234}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>gui/button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,15},{240,234}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{240,234}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>gui/button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,873},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,743},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,613},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{768,232}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{768,232}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>gui/button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{768,232}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{768,232}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>gui/button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,266},{286,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{286,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,132},{286,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{286,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,483},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>gui/button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,266},{306,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{306,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,132},{306,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{306,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,11}}</string>
                <key>sourceSize</key>
                <string>{1020,11}</string>
            </dict>
            <key>gui/pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,624},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,562},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,716},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,654},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,400},{270,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{270,118}}</string>
                <key>sourceSize</key>
                <string>{352,128}</string>
            </dict>
            <key>gui/slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,562},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,466},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,456},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,314},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,848},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,562},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{136,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,676},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{2026,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737f6f995ec8fb22e9e777bb62f64f27:673f6ca12857b91a48a82a2c337086f3:65190eda994a633aa977088176b54359$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
