<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{544,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,540}}</string>
                <key>sourceSize</key>
                <string>{544,540}</string>
            </dict>
            <key>test_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,588}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{590,588}}</string>
                <key>sourceSize</key>
                <string>{640,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>board.pvr.ccz</string>
            <key>size</key>
            <string>{1140,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:001e2fb341214c2a8e51b577e364e69f:5b2c1a3a0aa2f42fbd2da1953e9b30b8:11b2b1ff36a05e22bc1e13059bbc2d26$</string>
            <key>textureFileName</key>
            <string>board.pvr.ccz</string>
        </dict>
    </dict>
</plist>
