<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,82},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,164},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,248},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,250},{52,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,248},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,164},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,82},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,82},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,164},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,248},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,250},{52,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,248},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,82},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,78}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,82},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,164},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,248},{52,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{52,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,164},{60,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{66,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{66,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{72,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{482,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d5ad2cc7a2fb23e05e846009658e38:df9334e59f67dff088024a2c3f26698e:82609270475dfd195fe73212543de8ae$</string>
            <key>textureFileName</key>
            <string>anim_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
