<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{276,277}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{276,277}}</string>
                <key>sourceSize</key>
                <string>{314,313}</string>
            </dict>
            <key>test_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,295}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{294,295}}</string>
                <key>sourceSize</key>
                <string>{320,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>board.pvr.ccz</string>
            <key>size</key>
            <string>{576,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a2411fe3ac399a00f89ce60151578e:9728db5da0965f170c4aa7f4bda84c3d:11b2b1ff36a05e22bc1e13059bbc2d26$</string>
            <key>textureFileName</key>
            <string>board.pvr.ccz</string>
        </dict>
    </dict>
</plist>
