<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.pvr.ccz</string>
            <key>size</key>
            <string>{772,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82bcec619ce049623d3d8bec65c15b76:c84a6593c38aeb85fce5ac04d8fcfcb5:73db7f4fd44008a4e86a9f32d5f6782c$</string>
            <key>textureFileName</key>
            <string>background.pvr.ccz</string>
        </dict>
    </dict>
</plist>
