<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,69},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,7},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,80},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,41},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,209},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,211},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{178,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{178,61}}</string>
                <key>sourceSize</key>
                <string>{188,67}</string>
            </dict>
            <key>button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{178,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{178,61}}</string>
                <key>sourceSize</key>
                <string>{188,67}</string>
            </dict>
            <key>button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{69,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,131},{69,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,133},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{88,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,45}</string>
            </dict>
            <key>button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,158},{73,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{73,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,119},{73,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{73,37}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>font_gradient_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,227},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>font_gradient_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,227},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>font_gradient_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,119},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,3}}</string>
                <key>sourceSize</key>
                <string>{239,3}</string>
            </dict>
            <key>pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,92},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,75},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,58},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,41},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,197},{65,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{65,28}}</string>
                <key>sourceSize</key>
                <string>{83,30}</string>
            </dict>
            <key>slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,227},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,158},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,119},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,80},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,197},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,41},{35,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{378,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ad94afc98eab98df5fe4dbb4a6e018:871e6effd965c89050893088e8c7cc8e:e293a7c266c4c2ca73d1bed59e32a31e$</string>
            <key>textureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
