<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,130},{122,118}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,10},{122,118}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,118}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,136},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,70},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,446},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,380},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,314},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{384,117}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{384,117}}</string>
                <key>sourceSize</key>
                <string>{400,143}</string>
            </dict>
            <key>button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{384,117}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{384,117}}</string>
                <key>sourceSize</key>
                <string>{400,143}</string>
            </dict>
            <key>button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,318},{144,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{144,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{144,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{144,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,248},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{184,64}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{216,64}</string>
            </dict>
            <key>button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{154,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{154,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,386},{154,66}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{154,66}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,6}}</string>
                <key>sourceSize</key>
                <string>{510,6}</string>
            </dict>
            <key>pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,34},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,454},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,202},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,202},{136,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{136,60}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,454},{46,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,418},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,340},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,264},{76,76}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,342},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,416},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{68,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,264},{76,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{76,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{698,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba21007d7d84d07a411fd2d1ea368203:50755412d71fee74446c24c2c15b6fd0:e293a7c266c4c2ca73d1bed59e32a31e$</string>
            <key>textureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
