<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lite_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,230}}</string>
                <key>sourceSize</key>
                <string>{355,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo.pvr.ccz</string>
            <key>size</key>
            <string>{359,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6836d823473dee9540132245cb1d0f1e:c2ec6422591e378b589f41d65442fbaa:22d9bd45d7762a219bb0e63af6410537$</string>
            <key>textureFileName</key>
            <string>logo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
