<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{1160,1153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1160,1153}}</string>
                <key>sourceSize</key>
                <string>{1160,1153}</string>
            </dict>
            <key>test_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1258,1254}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,39},{1258,1254}}</string>
                <key>sourceSize</key>
                <string>{1536,1334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>board.pvr.ccz</string>
            <key>size</key>
            <string>{2424,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2198c821527faaed3f312304fa4f3c26:bb57de78057ff9e9139d6f777aa691aa:11b2b1ff36a05e22bc1e13059bbc2d26$</string>
            <key>textureFileName</key>
            <string>board.pvr.ccz</string>
        </dict>
    </dict>
</plist>
