<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,478},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,806},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,626},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,466},{102,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{102,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,806},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,640},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,316},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,154},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,796},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,636},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,646},{102,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{102,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,466},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,460},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,158},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,812},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,470},{102,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{102,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,642},{116,168}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{116,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,822},{130,164}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{130,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{144,160}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,154}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{154,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,314},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,158},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,324},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{136,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,314},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pawns.pvr.ccz</string>
            <key>size</key>
            <string>{781,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a01022c3b6d0ece23ef46649f3cc3e9a:1801a22b6be57fa424f10a2cfb0d08ed:f2e0a5bd8b2c3b5cc32b5712387f467e$</string>
            <key>textureFileName</key>
            <string>pawns.pvr.ccz</string>
        </dict>
    </dict>
</plist>
