<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,534},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,324},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,142},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,62},{166,68}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,212},{164,92}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,408},{160,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{160,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{156,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,688},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,526},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,306},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,132},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{166,68}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{164,92}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{160,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{160,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,550},{156,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,658},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,62},{166,78}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,222},{164,100}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,426},{160,122}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,650},{156,140}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,830},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,800},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,792},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,378},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,62},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{128,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,222},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pawns.pvr.ccz</string>
            <key>size</key>
            <string>{654,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62a09862c9494833cb63a6fdd57289d9:cf7d8a73a6b12315fdbc12a50ea02a72:f2e0a5bd8b2c3b5cc32b5712387f467e$</string>
            <key>textureFileName</key>
            <string>pawns.pvr.ccz</string>
        </dict>
    </dict>
</plist>
