<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,251},{240,234}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{240,234}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,15},{240,234}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{240,234}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,266},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,136},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,873},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,743},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,613},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{768,232}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{768,232}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{768,232}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{768,232}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,621},{286,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{286,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,487},{286,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{286,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,483},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{366,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{366,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{306,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{306,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,755},{306,132}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{306,132}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,11}}</string>
                <key>sourceSize</key>
                <string>{1020,11}</string>
            </dict>
            <key>pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,396},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,882},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,820},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,396},{270,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{270,118}}</string>
                <key>sourceSize</key>
                <string>{352,128}</string>
            </dict>
            <key>slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,889},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,820},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,668},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,668},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,516},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,820},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{136,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,516},{150,150}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{150,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{1382,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e96ff993d99231aef29f42db75170729:f740687a5459c599a733d420d7fe5828:e293a7c266c4c2ca73d1bed59e32a31e$</string>
            <key>textureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
