<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,135},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,73},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,103},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,71},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,193},{69,31}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{69,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{69,31}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{69,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,39},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,7},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,40},{75,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,7},{75,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,3}}</string>
                <key>sourceSize</key>
                <string>{239,3}</string>
            </dict>
            <key>pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,131},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,199},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,73},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,174},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,205},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,168},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,135},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,174},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,211},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,131},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{259,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d6b62806a5b69abaed057fcbbe001a:d1c72f767db7c7670e617e6cc844f086:e293a7c266c4c2ca73d1bed59e32a31e$</string>
            <key>textureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
