<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animations/anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,160},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,162},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,203},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,160},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,203},{25,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{25,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,135},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,158},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,131},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,178},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,178},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,119},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,119},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,78},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,172},{25,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{25,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,35},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,121},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,117},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,193},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,80},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,76},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,78},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,199},{29,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,199},{25,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{25,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,135},{29,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,35},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>animations/anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,41},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,135},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,7},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,103},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,71},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,39},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,98},{69,31}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{69,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,65},{69,31}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{69,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,7},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{88,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>gui/button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{75,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{75,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,31}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>gui/marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,3}}</string>
                <key>sourceSize</key>
                <string>{239,3}</string>
            </dict>
            <key>gui/pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,232},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,232},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,35},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>gui/stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,203},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,217},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,217},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,43},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gui/stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,217},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{393,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59ec0041869b736e1b53fb17796628a4:0718a8fa3f074d9f604f40021d2f4e43:65190eda994a633aa977088176b54359$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
