<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,146},{78,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{78,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,130},{80,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{80,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,54},{82,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{82,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,116},{84,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,222},{88,30}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{88,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,158},{84,34}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{84,34}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{82,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{82,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{80,58}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{80,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,72},{78,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{78,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,74},{78,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{78,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,66},{80,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{80,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,114},{82,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{82,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,208},{84,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,190},{88,30}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{88,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,218},{84,34}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{84,34}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,206},{82,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{82,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,194},{80,58}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{80,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{78,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{78,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{78,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{78,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{80,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{80,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{82,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{82,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,116},{84,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,158},{88,30}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{88,30}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,166},{84,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,62},{82,50}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{82,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,142},{80,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{80,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{78,70}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{78,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,82},{76,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{76,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{76,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{76,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{76,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{76,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{76,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,50},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{76,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pawns.pvr.ccz</string>
            <key>size</key>
            <string>{674,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e997a5705ec70e91f8fbb09fc3f00dd:42930838ae0d8625301a8625ec60db0f:f2e0a5bd8b2c3b5cc32b5712387f467e$</string>
            <key>textureFileName</key>
            <string>pawns.pvr.ccz</string>
        </dict>
    </dict>
</plist>
