<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{580,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,577}}</string>
                <key>sourceSize</key>
                <string>{580,577}</string>
            </dict>
            <key>test_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,627}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{630,627}}</string>
                <key>sourceSize</key>
                <string>{768,667}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>board.pvr.ccz</string>
            <key>size</key>
            <string>{1216,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced280bac1c138fc785f53c70ec18b58:ec688fbadbfee29edae0c29230276e7c:11b2b1ff36a05e22bc1e13059bbc2d26$</string>
            <key>textureFileName</key>
            <string>board.pvr.ccz</string>
        </dict>
    </dict>
</plist>
