<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,267},{230,250}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{230,250}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,15},{230,250}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{230,250}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,476},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,318},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,160},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,839},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,681},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{754,252}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{754,252}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{754,252}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{754,252}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,792},{286,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{286,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,634},{286,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{286,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,523},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,792},{306,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{306,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,634},{306,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{306,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>font_gradient_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,248},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>font_gradient_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>font_gradient_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,950},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,11}}</string>
                <key>sourceSize</key>
                <string>{1020,11}</string>
            </dict>
            <key>pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,446},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,384},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,322},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,68},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,790},{270,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{270,118}}</string>
                <key>sourceSize</key>
                <string>{352,128}</string>
            </dict>
            <key>slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,158},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,634},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,472},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,316},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,160},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,628},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{128,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{1618,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:825b3d82bdffde1ffc72694282fddec5:46c21ae7e3d8059cfd1371c6cf167f25:e293a7c266c4c2ca73d1bed59e32a31e$</string>
            <key>textureFileName</key>
            <string>gui_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
