<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animations/anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,721},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,628},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,752},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,934},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,954},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,950},{166,68}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,860},{164,92}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,762},{160,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{160,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,754},{156,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,579},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,634},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,758},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,940},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,954},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,880},{166,68}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,860},{164,92}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,892},{160,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{160,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,863},{156,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,300},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,634},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,758},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,860},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,519},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,854},{166,78}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,758},{164,100}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,634},{160,122}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>animations/anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,158},{156,140}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/button_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,267},{230,250}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{230,250}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>gui/button_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,15},{230,250}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{230,250}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>gui/button_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,318},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,160},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,839},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,681},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_menu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{754,252}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{754,252}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>gui/button_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{754,252}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{754,252}}</string>
                <key>sourceSize</key>
                <string>{800,286}</string>
            </dict>
            <key>gui/button_narrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,476},{286,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{286,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/button_narrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,476},{286,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{286,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/button_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,523},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_white_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{366,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{366,156}}</string>
                <key>sourceSize</key>
                <string>{432,192}</string>
            </dict>
            <key>gui/button_wide_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,318},{306,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{306,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/button_wide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,160},{306,156}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{306,156}}</string>
                <key>sourceSize</key>
                <string>{352,192}</string>
            </dict>
            <key>gui/font_gradient_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,860},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>gui/font_gradient_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/font_gradient_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,579},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>gui/marker_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,11}}</string>
                <key>sourceSize</key>
                <string>{1020,11}</string>
            </dict>
            <key>gui/pmark_AI_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,442},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/pmark_AI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,519},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/pmark_human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,950},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/pmark_human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,68},{44,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,634},{270,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{270,118}}</string>
                <key>sourceSize</key>
                <string>{352,128}</string>
            </dict>
            <key>gui/slider_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,754},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gui/stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,472},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,316},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,160},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,476},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,632},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{128,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>gui/stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{152,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{152,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{1980,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d8d1b32841fd4d221796308f5249e9:3087ae38f76e58189dd1732adecef95b:65190eda994a633aa977088176b54359$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
