<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,104},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,242},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,300},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,392},{166,68}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,360},{164,92}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,244},{160,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{160,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,282},{156,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,250},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,162},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,420},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,322},{166,68}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,206},{164,92}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,126},{160,116}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{160,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,144},{156,136}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{156,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,126},{160,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,362},{164,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,82},{166,78}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,75},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{176,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{176,58}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{166,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,374},{164,100}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{164,100}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{160,122}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{160,122}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,140}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{156,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{1024,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aaf3146289038b032ba815d3481e3e0:5aac7bbbfffe781e75c1156e32748203:82609270475dfd195fe73212543de8ae$</string>
            <key>textureFileName</key>
            <string>anim_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
