<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_android.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1536,2048}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_android.pvr.ccz</string>
            <key>size</key>
            <string>{1540,2052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861996c6862e30166cc04ff66801c74f:a1058ef5ea75300e13f6290123294b9b:ba72d0320ee2c65df518cb2819f5a851$</string>
            <key>textureFileName</key>
            <string>background_android.pvr.ccz</string>
        </dict>
    </dict>
</plist>
