<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_stone_br1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,39},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,80},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,78},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,82},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,82},{25,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{25,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,82},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br7.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,78},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_br9.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,39},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,41},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,41},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,82},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,82},{25,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{25,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,80},{27,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr7.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,41},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,41},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_gr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,41},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,39},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,84},{29,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,41},{25,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{25,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,82},{29,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{31,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,39},{35,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>anim_stone_wb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{37,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>stone_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{35,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{35,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pawns.pvr.ccz</string>
            <key>size</key>
            <string>{387,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:682fb1e8ad586c591d8c3f9bc5a2633c:3c0bbe45fe10f9993a0d942ac116baaa:f2e0a5bd8b2c3b5cc32b5712387f467e$</string>
            <key>textureFileName</key>
            <string>pawns.pvr.ccz</string>
        </dict>
    </dict>
</plist>
